body {
 background-image: url("https://cdn.glitch.com/30c7f409-ba5b-4cdc-b819-da687bf85185%2F555361.jpg?v=1579879884013");
 background-color: #cccccc;
 background-size: 100% 210%;
 background-repeat: no-repeat;
}

